<table>
  <thead>
  </thead>

  <tbody>
    <div class="jumbotron">
      <%= image_tag("//yuya.kakui.name/kikupon_images/takamaccho-kun.jpg", :height=> "240", :align => "right") %>
      <h1>What's Kikupon ?</h1>
      <p>Kikupon is a group which constist of Takamaccho-kun.</p></br>
      <p>
        <a class="btn btn-primary btn-lg">Learn more</a>
      </p>
    </div>
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="col-lg-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to "#1 Takamaccho-kun Line Stamp", :controller => "takamacchos", :action => "index" %></h3>
            </div>
            <div class="panel-body">
              <p>This is Line Stamps of Takamaccho-kun.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">#2 Kikupon App</h3>
            </div>
            <div class="panel-body">
              <p>under construction</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">#3 Others</h3>
            </div>
            <div class="panel-body">
              <p>under construction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tbody>
</table>
